.locationCont {
    width: 100%;
    height: 35px;
    text-align: left;
    padding-left: 10px;
    color: #888;
    line-height: 35px;
    overflow: hidden;
}

.locationCont h1 {
    margin: 0;
    white-space: nowrap;
}

.weatherLocationCont {
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-right: 10px;
    min-width: 350px;
    box-sizing: border-box;
    padding: 25px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 10px 10px 40px -12px rgba(0, 0, 0, 0.75);
    cursor: pointer;
}

.details {
    background-color: #999;
    height: 85vh;
    width: calc(100% - 40px);
    padding-right: 20px;
    padding-left: 20px;
    overflow: auto;
}

@media (max-width: 64em) {
    .details {
        height: 40vh;
    }
}
